.elementor-724 .elementor-element.elementor-element-8b3874b {
    --display: flex;
    --flex-direction: row-reverse;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-724 .elementor-element.elementor-element-4c222d9 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 40px;
    --padding-inline-start: 40px;
    --padding-inline-end: 40px;
}

.elementor-724 .elementor-element.elementor-element-604cd8c {
    color: #142B6F;
}

.elementor-724 .elementor-element.elementor-element-920e080 {
    color: #142B6F;
    font-size: 17px;
    line-height: 30px;
}

.elementor-724 .elementor-element.elementor-element-0f25893 {
    --display: flex;
    --flex-direction: row-reverse;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-724 .elementor-element.elementor-element-5578340 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-724 .elementor-element.elementor-element-7db7324 img {
    border-radius: 15px 15px 15px 15px;
}

.elementor-724 .elementor-element.elementor-element-7db7324>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-724 .elementor-element.elementor-element-4d7246c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-block-start: 40px;
    --padding-block-end: 40px;
    --padding-inline-start: 40px;
    --padding-inline-end: 40px;
}

.elementor-724 .elementor-element.elementor-element-d3bcefc .title-subtitle {
    color: #0E2135;
    font-size: 18px;
    font-style: italic;
}

.elementor-724 .elementor-element.elementor-element-d3bcefc .title {
    color: #142B6F;
    font-size: 28px;
}

.elementor-724 .elementor-element.elementor-element-d3bcefc .title-after_title {
    font-size: 57px;
}

.elementor-724 .elementor-element.elementor-element-d3bcefc>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-724 .elementor-element.elementor-element-d8f7c4c {
    color: #142B6F;
    font-size: 17px;
    line-height: 30px;
}

.elementor-724 .elementor-element.elementor-element-ae2f7d9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-724 .elementor-element.elementor-element-b19908e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-724 .elementor-element.elementor-element-ef4573e {
    text-align: center;
}

.elementor-724 .elementor-element.elementor-element-ef4573e img {
    border-radius: 15px 15px 15px 15px;
}

.elementor-724 .elementor-element.elementor-element-ef4573e>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-724 .elementor-element.elementor-element-2262a4f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: flex-start;
    --background-transition: 0.3s;
    --padding-block-start: 40px;
    --padding-block-end: 40px;
    --padding-inline-start: 40px;
    --padding-inline-end: 40px;
}

.elementor-724 .elementor-element.elementor-element-de5c7c2 .title-subtitle {
    color: #0E2135;
    font-size: 18px;
    font-style: italic;
}

.elementor-724 .elementor-element.elementor-element-de5c7c2 .title {
    color: #142B6F;
    font-size: 28px;
}

.elementor-724 .elementor-element.elementor-element-de5c7c2 .title-after_title {
    font-size: 57px;
}

.elementor-724 .elementor-element.elementor-element-de5c7c2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-724 .elementor-element.elementor-element-67e5012 {
    color: #142B6F;
    font-size: 17px;
    line-height: 30px;
}

.elementor-724 .elementor-element.elementor-element-e38c612 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-724 .elementor-element.elementor-element-1f6c399 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-block-start: 40px;
    --padding-block-end: 40px;
    --padding-inline-start: 40px;
    --padding-inline-end: 40px;
}

.elementor-724 .elementor-element.elementor-element-51eae65 {
    color: #142B6F;
    font-size: 17px;
    line-height: 30px;
}

.elementor-724 .elementor-element.elementor-element-95b2f34 {
    color: #142B6F;
    font-size: 17px;
    line-height: 30px;
}

.elementor-724 .elementor-element.elementor-element-6b28c4f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-724 .elementor-element.elementor-element-ab1c83d>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

@media(max-width:767px) {
    .elementor-724 .elementor-element.elementor-element-4c222d9 {
        --padding-block-start: 20px;
        --padding-block-end: 20px;
        --padding-inline-start: 20px;
        --padding-inline-end: 20px;
    }

    .elementor-724 .elementor-element.elementor-element-7db7324>.elementor-widget-container {
        padding: 0px 20px 0px 20px;
    }

    .elementor-724 .elementor-element.elementor-element-4d7246c {
        --padding-block-start: 20px;
        --padding-block-end: 20px;
        --padding-inline-start: 20px;
        --padding-inline-end: 20px;
    }

    .elementor-724 .elementor-element.elementor-element-d3bcefc .title {
        font-size: 24px;
    }

    .elementor-724 .elementor-element.elementor-element-ef4573e>.elementor-widget-container {
        padding: 0px 20px 0px 20px;
    }

    .elementor-724 .elementor-element.elementor-element-2262a4f {
        --padding-block-start: 20px;
        --padding-block-end: 20px;
        --padding-inline-start: 20px;
        --padding-inline-end: 20px;
    }

    .elementor-724 .elementor-element.elementor-element-de5c7c2 .title {
        font-size: 24px;
    }

    .elementor-724 .elementor-element.elementor-element-1f6c399 {
        --padding-block-start: 20px;
        --padding-block-end: 20px;
        --padding-inline-start: 20px;
        --padding-inline-end: 20px;
    }
}

@media(min-width:768px) {
    .elementor-724 .elementor-element.elementor-element-4c222d9 {
        --width: 100%;
    }

    .elementor-724 .elementor-element.elementor-element-5578340 {
        --width: 50%;
    }

    .elementor-724 .elementor-element.elementor-element-4d7246c {
        --width: 50%;
    }

    .elementor-724 .elementor-element.elementor-element-b19908e {
        --width: 50%;
    }

    .elementor-724 .elementor-element.elementor-element-2262a4f {
        --width: 50%;
    }

    .elementor-724 .elementor-element.elementor-element-1f6c399 {
        --width: 100%;
    }
}